/* ---- GOOGLE FONTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;900&display=swap');

/* ---- RESET CSS ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(imagens/blur.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    color: white
}

.conteudo, .cabecalho, .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo {
    max-width: 900px;
    margin: 0 auto;
}

.cabecalho {
    padding: 0 11px;
}

.cabecalho img {
    width: 150px;
    margin-bottom: 20px;
}

.cabecalho h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.cabecalho h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.cabecalho h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.formulario .form_input, .submit_button {
    display: block;
    width: 80%;
    outline: none;
    border: none;
    padding: 16px;
    margin: 0 auto 10px auto;
    border-radius: 6px;
    font-size: 20px;
}

.formulario .label_checkbox {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.formulario .submit_button {
    background-color: #007bff;
    color: white;
}